

<app-sidebar></app-sidebar>
  
  <div class="main">
      <div class="container">
          <div class="row">
            <div class="col-md-12">
               <app-header></app-header> 
            </div>
          </div>
         
              <div class="pagecontent">
                  <div class="row">
                      <div class="col-md-12">
                          <!-- <app-employee-list></app-employee-list>  -->
                          <!-- <app-create-employee></app-create-employee> -->
                          <router-outlet></router-outlet>
               </div>
          </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                 <app-footer></app-footer> 
              </div>
            </div>
  </div>
  </div>
